# production/development environment variables
NODE_ENV="development"

SESSION_SECRET="5Y5kh325LTbxJ8eo9JUxh6jdKyUxXv24m7c9RWguV6jl5rzlWVZ58LL6BUf2L4lS"

# Database URL for PostgreSQL
# DATABASE_URL="postgresql://postgres:admin@localhost:5432/tanstack_demo_db?schema=public"

# for production settings, you can use the following DATABASE_URL to connect to your Supabase database. Make sure to replace the credentials and host with your actual Supabase database details.

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.adizxilgxtmvzexzraev:Jm2JpKRQamiqycVW@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
# DATABASE_URL="postgresql://postgres:Jm2JpKRQamiqycVW@db.adizxilgxtmvzexzraev.supabase.co:6543/postgres"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.adizxilgxtmvzexzraev:Jm2JpKRQamiqycVW@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"
# DIRECT_URL="postgresql://postgres:Jm2JpKRQamiqycVW@db.adizxilgxtmvzexzraev.supabase.co:5432/postgres"

VITE_SUPABASE_URL=https://adizxilgxtmvzexzraev.supabase.co
VITE_SUPABASE_KEY=sb_publishable_y-hjGxf5SjkJajHndP-NKA_kIo-np-m
