# production/development environment variables
NODE_ENV="development"

SESSION_SECRET="xxxxxxxxxxxxxxxxx"

# Database URL for PostgreSQL
# DATABASE_URL="postgresql://postgres:admin@localhost:5432/tanstack_demo_db?schema=public"

# for production settings, you can use the following DATABASE_URL to connect to your Supabase database. Make sure to replace the credentials and host with your actual Supabase database details.

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.[PROJECT_ID]:[PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
# Gunakan (Uncomment) DATABASE_URL dibawah ini jika ingin melakukan migrate
DATABASE_URL="postgresql://postgres.[PROJECT_ID]:[PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres"

[build.environment]
  NODE_ENV = "development"